header {
    background-color: var(--header-background-color);
    width: 100vw;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--header-font-color);
    text-align: center;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}