button {
    border: 1px solid var(--border-color);
    border-radius: 22px;
    padding: 10px;
    width: 23%;
    font-size: 18px;
    background: var(--button-color);
    transition: all 0.2s ease;
}

button:active {
    background-color: #000;
    transform: scale(0.98);
    font-weight: bold;
}

button.active {
    background-color: #000;
    transform: scale(0.98);
    font-weight: bold;
}